@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

.hero {
    min-height: 100dvh;
    width: 100%;
    position: relative;
    background-image: url("/src/assets/images/hero-pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}